***

## ML实战第二周 第一课实训

####  实训提交说明：
- 位置：实训文件统一放置于/0.Teacher/Exercise/ML-3/1/下
- 文件名：请先复制该notebook文件，并重新命名为(课程名)+(您姓名的全拼)，并按要求完成后保存
- 时间：课程结束后的第二天前提交。
- 注意：请勿抄袭，移动，修改，删除其他同学和原始空白的练习文件。
***

In [1]:
from pyspark.sql import SparkSession

# import os
# os.environ['JAVA_HOME'] = '/Library/Java/JavaVirtualMachines/jdk1.8.0_162.jdk/Contents/Home'

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

### 构建数据集与序列化

In [2]:
stringJSONRDD = spark.sparkContext.parallelize((""" 
  { "id": "123",
    "name": "Katie",
    "age": 19,
    "eyeColor": "brown"
  }""",
   """{
    "id": "234",
    "name": "Michael",
    "age": 22,
    "eyeColor": "green"
  }""", 
  """{
    "id": "345",
    "name": "Simone",
    "age": 23,
    "eyeColor": "blue"
  }""")
)

In [3]:
# 构建DataFrame
swimmersJSON = spark.read.json(stringJSONRDD)

In [4]:
# 创建临时表
swimmersJSON.createOrReplaceTempView("swimmersJSON")

In [5]:
# DataFrame信息
swimmersJSON.show()

+---+--------+---+-------+
|age|eyeColor| id|   name|
+---+--------+---+-------+
| 19|   brown|123|  Katie|
| 22|   green|234|Michael|
| 23|    blue|345| Simone|
+---+--------+---+-------+

<font color='red'> **1、【编写spark sql 查询所有的数据】** </font>

In [6]:
# 执行SQL请求

[Row(age=19, eyeColor='brown', id='123', name='Katie'),
 Row(age=22, eyeColor='green', id='234', name='Michael'),
 Row(age=23, eyeColor='blue', id='345', name='Simone')]

In [7]:
# 输出数据表的格式
swimmersJSON.printSchema()

root
 |-- age: long (nullable = true)
 |-- eyeColor: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

<font color='red'> **2、【编写spark sql dataframe行数】** </font>

In [8]:
# 执行SQL

DataFrame[count(1): bigint]

In [9]:
spark.sql("select count(*) from swimmersJSON").collect()

[Row(count(1)=3)]

### DataFrame的请求方式 vs SQL的写法

<font color='red'> **3、【使用spark dataframe函数，选择id和age列，并选择age=22的数据】** </font>

In [10]:
# DataFrame的写法

+---+---+
| id|age|
+---+---+
|234| 22|
+---+---+

<font color='red'> **4、【使用spark sql，选择id和age列，并选择age=22的数据】** </font>

In [11]:
# SQL的写法

+---+---+
| id|age|
+---+---+
|234| 22|
+---+---+

<font color='red'> **5、【使用spark dataframe函数，选择name和eyeColor列，并选择eyeColor以b开头的数据】** </font>

In [12]:
# DataFrame的写法

+------+--------+
|  name|eyeColor|
+------+--------+
| Katie|   brown|
|Simone|    blue|
+------+--------+

<font color='red'> **6、【使用spark sql，选择name和eyeColor列，并选择eyeColor以b开头的数据】** </font>

In [13]:
# SQL的写法

+------+--------+
|  name|eyeColor|
+------+--------+
| Katie|   brown|
|Simone|    blue|
+------+--------+